body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.1;
	color: #686868;
	scroll-behavior: smooth;
	background: #EEF0F5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

a, a:hover, a:focus, a:visited {
	color: #686868;
	text-decoration: none;
}

button, input, select {
	border: none;
	cursor: pointer;
	font-size: inherit;
	color: inherit;
}

.main {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 0 20px;
}

// Main styles
.todo {
	&__main-title {
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

// create item
.create {
	display: flex;
	&__form {
		position: relative;
		margin-right: 20px;
	}
	&__input {
		width: 320px;
		height: 50px;
		padding-left: 20px;
		font-weight: normal;
		font-size: 18px;
		line-height: 1.1;
		color: #686868;

		background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
		box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
		border-radius: 40px;
	}
	&__enter-btn {
		position: absolute;
		right: 17px;
		top: 0;
		height: 50px;
		line-height: 1.1;
		width: 35px;
		background-color: transparent;
	}
}

// Sort
.sort {
	height: 50px;
	width: 140px;
	padding-left: 20px;
	background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
	box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
	border-radius: 20px;
	-webkit-appearance: none;
	appearance: none;
	background: url('/img/select-arrow-icon.svg') no-repeat center right;
	background-position: 90%;
	background-size: 15px;
	& option {
		background:#EEF0F5;
	}
}

// Card block
.card {
	width: 100%;
	list-style-type: none;
	& li {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 50px;
		padding: 0 20px;
		margin-bottom: 30px;
		background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
		box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
		border-radius: 20px;
	}
	& li:last-child {
		margin-bottom: 0;
	}
	& li:first-child {
		margin-top: 30px;
	}
	& li p {
		flex-grow: 1;
	}
	& li:hover .delete-btn,
	& li:hover .done-btn {
		visibility: visible;
		opacity: 1;
		transition: all .3s ease-out;
	}
}

// checked items
.mark-all li,
.mark-done {
	background: linear-gradient(134.17deg, #c9cbd0 4.98%, #f7faff 94.88%) !important;
}

.mark-all li p,
.mark-done p {
	text-decoration: line-through;
}

// btn in items
.delete-btn,
.done-btn {
	visibility: hidden;
	opacity: 0;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background: linear-gradient(220.6deg, #EEF0F5 8.29%, #E6E9EF 84.92%);
	box-shadow: -10px -10px 18px rgba(255, 255, 255, 0.8), 10px 10px 18px rgba(166, 180, 200, 0.65);
	border-radius: 40px;
	transition: all .3s ease-out;
}

.delete-btn {
	background: url('/img/delete-icon.svg') no-repeat center;
	background-size: 28px;
}

.done-btn {
	background: url('/img/done-icon.svg') no-repeat center;
	background-size: 18px;
	margin-right: 10px;
}

// Navigation
.nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 140px;
		height: 50px;
		padding: 0 10px;
		margin-right: 20px;
		background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
		box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 20px rgba(166, 180, 200, 0.7);
		border-radius: 40px;
		margin-top: 30px;
	}
	&__checked-status {
		margin-top: 30px;
	}
}

// Alert
#alert {
	display: none;
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: #fff;
	color: #333;
	padding: 30px;
}

#unCheckAll {
	display: none;
}

@media (max-width: 550px) {
	.create {
		flex-direction: column;
	}
	.create__form {
		margin-right: 0;
	}
	.create__input {
		width: 100%;
		margin-bottom: 30px;
	}
}